/* line 1, ../sass/character.sass */
.character {
  width: 30px;
  height: 30px;
  background-color: blue;
  position: absolute;
}
/* line 7, ../sass/character.sass */
.character.circle {
  border-radius: 50%;
}
/* line 10, ../sass/character.sass */
.character.triangle {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-bottom: 30px solid blue;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
