/* line 1, ../sass/enemy.sass */
.enemy {
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 1;
}
/* line 7, ../sass/enemy.sass */
.enemy .enemyHole {
  width: 30px;
  height: 30px;
  position: absolute;
}
/* line 12, ../sass/enemy.sass */
.enemy .enemyHole.circle {
  border-radius: 50%;
  background-color: white;
}
/* line 16, ../sass/enemy.sass */
.enemy .enemyHole.triangle {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-bottom: 30px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
/* line 24, ../sass/enemy.sass */
.enemy .enemyHole.square {
  background-color: white;
}
