/* line 1, ../sass/header.sass */
#headerBar {
  height: 100px;
  width: 100%;
  background-color: red;
}

/* line 1, ../sass/character.sass */
.character {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  z-index: 10;
}
/* line 8, ../sass/character.sass */
.character.circle {
  border-radius: 50%;
}
/* line 11, ../sass/character.sass */
.character.triangle {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-bottom: 30px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/* line 1, ../sass/enemy.sass */
.enemy {
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 1;
}
/* line 7, ../sass/enemy.sass */
.enemy .enemyHole {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: white;
}
/* line 13, ../sass/enemy.sass */
.enemy .enemyHole.circle {
  border-radius: 50%;
}
/* line 16, ../sass/enemy.sass */
.enemy .enemyHole.triangle {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-bottom: 30px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/* line 6, ../sass/main.sass */
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
}
/* line 11, ../sass/main.sass */
body #gamePage {
  margin: auto;
  width: 600px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  height: 100%;
}
/* line 18, ../sass/main.sass */
body #gamePage #gameBox {
  height: 500px;
  width: 100%;
  background-color: black;
  position: relative;
}
