/* line 3, ../sass/race.sass */
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
}
/* line 8, ../sass/race.sass */
body #gamePage {
  margin: auto;
  width: 600px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  height: 100%;
}
/* line 15, ../sass/race.sass */
body #gamePage #headerBar {
  height: 100px;
  width: 100%;
  background-color: red;
}
/* line 20, ../sass/race.sass */
body #gamePage #gameBox {
  height: 500px;
  width: 100%;
  background-color: orange;
}
